.member-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 8px;
}

.member-name {
  font-size: 14pt;
}

.member-container {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.odd-row {
  background-color: #f4f4f4;
}

.even-row {
  background-color: #d4d4d4;
}
