.member-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 8px;
}

.member-name {
  font-size: 12pt;
  font-weight: bold;
}

.member-container {
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.odd-row {
  background-color: #f4f4f4;
}

.even-row {
  background-color: #d4d4d4;
}

.address-container {
  text-align: right;
}
