.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: lightblue;
  height: 100vh;
}

.content-container {
  min-width: 800px;
}

.page-controls {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
}

.page-buttons {
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 4px;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 4px;
}

.filter-controls {
  height: 100%;
  width: 180px;
  background-color: #f4f4f4;
  padding: 8px;
  margin-top: 8px;
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.members-header {
  text-align: center;
}
